<nav class="navigation rules-footer d-flex tenpx-spacing soft-corners" >
    <div>
      <img src="/images/mtg_m_symbol.jpeg" class="sm-img mg-top"/>
    </div>
    <ul class="d-flex" >
      <li class="no-list-style-type fivepx-spacing"><a href="/mtg/game_rules" class="no-text-decoration white">Game Rules</a></li>
      <li class="no-list-style-type fivepx-spacing"><a href="/mtg/std" class="no-text-decoration white">Standard</a></li>
      <li class="no-list-style-type fivepx-spacing"><a href="/mtg/modern" class="no-text-decoration white">Modern</a></li>
      <li class="no-list-style-type fivepx-spacing"><a href="/mtg/vintage" class="no-text-decoration white">Vintage</a></li>
      <li class="no-list-style-type fivepx-spacing"><a href="/mtg/pauper" class="no-text-decoration white">Pauper</a></li>
      <li class="no-list-style-type fivepx-spacing"><a href="/mtg/limited" class="no-text-decoration white">Limited</a></li>
      <li class="no-list-style-type fivepx-spacing"><a href="/mtg/commander" class="no-text-decoration white">Commander</a></li>
      <li class="no-list-style-type fivepx-spacing"><a href="/mtg/cEDH" class="no-text-decoration white">cEDH</a></li>
      <li class="no-list-style-type fivepx-spacing"><a href="/mtg/pioneer" class="no-text-decoration white">Pioneer</a></li>
      <li class="no-list-style-type fivepx-spacing"><a href="/mtg" class="no-text-decoration white">Home</a></li>
  </nav>