<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/head.ejs')%>
    <title>MTG Game Rules</title>
  </head>
  <body>
    <%-include("./partials/rulesBanner.ejs")%>
    <div class="d-flex-column overflow-y">
      <img src="/images/zendikar_art.jpeg" class="art bannerImageBottom" />
      <div class="relative d-flex-column lrg-width">
        <h1 class="text-shadow bord-bottom lrg-text">
          Commander (EDH) Play Rules
        </h1>
        <div class="rules d-flex-column">
          <p>
            This format is for four players per game and deck sizes are 99 cards
            + 1 commander card. The game duration for this format should be
            about 20 minutes per player.
          </p>
          <p>
            The Commander format is all about picking your hero and building a
            deck around them. In this casual, multiplayer format, you choose a
            legendary creature to serve as your commander and build the rest of
            your deck around their color identity and unique abilities. Players
            are only allowed one of each card in their deck, with the exception
            of basic lands, but they can use cards from throughout Magic's
            history.
          </p>
          <h4>Color Identity</h4>
          <p>
            A card's color identity can come from any part of that card,
            including its casting cost and any mana symbols in its text. Every
            card in your Commander deck must only use mana symbols that also
            appear on your commander. Colorless cards are allowed as well.
          </p>
          <h4>Command Zone</h4>
          <p>
            This is where your commander resides during the game when they are
            not in play. At the start of the game, each player puts their
            commander face up into the command zone. A commander can be cast
            from the command zone for its normal costs, plus an additional two
            mana for each previous time it's been cast from the command zone
            this game. If your commander would be put into your library, hand,
            graveyard or exile from anywhere, you may return it to your command
            zone instead.
          </p>
          <h4>Commander Damage</h4>
          <p>
            A player that's been dealt 21 or more combat damage by the same
            commander over the course of the game loses the game. The commander
            is tracked across zone changes for this purpose (for example, if one
            player takes control of another player's commander, any damage that
            commander already dealt is still counted).
          </p>
          <h4>Free-for-All</h4>
          <p>
            If you're playing a game of Commander with three or more people, you
            play against each other in a free-for-all multiplayer format. Each
            player starts with 40 life, places their commander face-up in their
            command zone, and draws a hand of seven cards. Players are seated
            randomly in a circle and turns progress one player at a time in
            clockwise order around the table. During gameplay, a player may
            choose to attack any other player, regardless of their position on
            the table, and can also choose to attack multiple different players
            during their attack phase. Permanents, spells, and abilities can
            also target any player around the table (as long as they don't
            explicitly say they must be used on "you"). No matter the outcome,
            Commander gives players the tools to express themselves through
            strategy, skill, and a whole lot of deck building fun.
          </p>
        </div>
        <p class="tenpx-spacing">
          Cards from all regular core sets and expansions since Eight Edition
          are legal.
        </p>
        <a
          href="https://magic.wizards.com/en/banned-restricted-list"
          target="_blank"
          class="no-text-decoration plainLink linkTag tenpx-spacing"
          >Click to see Magics Banned & Restricted List</a
        >
        <footer class="footer"><%-include('./partials/footer.ejs')%></footer>
      </div>
    </div>
  </body>
</html>
