<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/head.ejs')%>
    <title>MTG Game Rules</title>
  </head>
  <body>
    <%-include("./partials/rulesBanner.ejs")%>
    <div class="d-flex-column overflow-y">
      <img
        src="/images/zendikar_art.jpeg"
        class="art bannerImageBottom"
        alt="Zendikar Plains Art"
      />
      <div class="wrapper d-flex-column">
        <iframe src="/pdfs/MagicCompRules.pdf" class="modal-ish soft-corners"
          >/</iframe
        >
        <footer class="footer"><%-include('./partials/footer.ejs')%></footer>
      </div>
    </div>
  </body>
</html>
