<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/head.ejs')%>
    <title>MTG Game Rules</title>
  </head>
  <body>
    <%-include("./partials/rulesBanner.ejs")%>
    <%-include("./partials/footer.ejs")%>
  </body>
</html>
