body {
  background-image: url("./Honey.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 98vh;

  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}
#header,
#footer {
  background-color: rgba(117, 223, 255, 0.8);
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
}
#header {
  align-self: center;
}
#footer {
  margin-bottom: 20px;
}
.previous,
.next {
  font-size: 200% !important;
}
.resumeLink {
  color: black;
  text-decoration: none;
}
.resumeLink:hover {
  color: black;
}
.email {
  width: 220px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 2px white;
  box-shadow: 5px 5px 10px black;
  position: relative;
  left: 308px;
  display: none;
  z-index: 1;
  top: -16px;
}
.emailP {
  padding: 9px;
}
.button:hover {
  cursor: grab;
  background-color: rgba(166, 166, 166, 0.665);
  border-radius: 10px;
  border-bottom: 2px solid grey;
}
.bio {
  background-color: rgba(255, 255, 255, 0.9);
  height: 275px;
  width: 700px;
  top: -20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  font-size: 20px;
  font-family: "Rosarivo", serif;
  z-index: 1;
  display: none;
}
.bioP {
  padding: 1em;
}
#mainSectionTop {
  display: flex;
  justify-content: space-evenly;
}
.linksDiv {
  position: fixed;
  top: 250px;
  font-family: "Tangerine", cursive;
  font-size: 50px;
  font-weight: 200;
}
.linksDiv:hover {
  cursor: context-menu;
}
h4 {
  text-decoration: none;
}
.dropDown {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 2px 0;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
ul > li {
  padding: 5px 0;
}
.projectsLink {
  margin: -5px 0;
}
.interestsLink {
  margin: -5px 0;
}
#mainSectionBottom {
  height: 375px;
  display: flex;
  justify-content: center;
}
.interestsSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 80%;
  height: 350px;
  /* display: none; */
  text-align: center;
  border-radius: 20px;
  margin: auto;
  box-shadow: 5px 5px 8px black;
}
.carousel {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  align-content: center;
  height: 250px;
  min-width: 100%;
}
.images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.images img {
  max-height: 250px;
  border: 8px solid rgb(255, 255, 255);
  border-radius: 10px;
  display: none;
  box-shadow: 5px 5px 8px black;
}
a,
h4,
.projectsLink {
  color: rgba(31, 6, 217, 0.711);
  text-decoration: none;
}
a:hover,
.interestsLink:hover,
.projectsLink:hover {
  color: rgba(45, 175, 222, 0.711);
}

.fa-cloud-moon:hover {
  filter: invert(50%);
}
.fa-sun:hover {
  filter: invert(100%);
}

@media only screen and (max-width: 600px) {
  .bio {
    max-width: 400px;
    max-height: 600px;
    overflow: scroll;
    top: 1px;
  }
  .email {
    left: 70px;
  }
  img {
    max-width: 200px;
  }
}
