body {
  display: flex;
  flex-direction: column;
  background-image: url("./Honey.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: space-around;
}
#header {
  background-color: rgba(117, 223, 255, 0.8);
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
}
.button:hover {
  cursor: grab;
  background-color: rgba(166, 166, 166, 0.665);
  border-radius: 10px;
  border-bottom: 2px solid grey;
}
#mainSectionTop {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px;
}
.linksDiv {
  position: relative;
  top: 100px;
}
.linksDiv:hover {
  cursor: context-menu;
}
.dropDown {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 2px 0;
  display: none;
}
#mainSectionBottom {
  height: 300px;
}

#footer {
  background-color: rgba(117, 223, 255, 0.8);
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  font-size: 25px;
  justify-content: space-evenly;
  align-self: flex-end;
}
.fa-cloud-moon:hover {
  filter: invert(50%);
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
  }
  #header {
    background-color: rgba(88, 85, 252, 0.8);
  }
  #yoursTruly {
    max-width: 100px;
  }
}
