body {
  background-image: url("./Honey.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 98vh;
  display: grid;
  grid-template-rows: 1fr 4fr 4fr 1fr;
}
#header,
#footer {
  background-color: rgba(117, 223, 255, 0.8);
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
}
#header {
  align-self: center;
}
#footer {
  margin-bottom: 20px;
}
.previous,
.next {
  font-size: 200% !important;
}
.resumeLink {
  color: black;
  text-decoration: none;
}
.resumeLink:hover {
  color: black;
}
.email {
  width: 220px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 2px white;
  box-shadow: 5px 5px 10px black;
  position: relative;
  left: 308px;
  display: none;
  z-index: 1;
  top: -185px;
}
.emailP {
  padding: 9px;
}
.button:hover {
  cursor: grab;
  background-color: rgba(166, 166, 166, 0.665);
  border-radius: 10px;
  border-bottom: 2px solid grey;
}
.bio {
  background-color: rgba(255, 255, 255, 0.9);
  height: 270px;
  width: 700px;
  top: -85px;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  font-size: 20px;
  font-family: "Rosarivo", serif;
  z-index: 1;
  display: none;
  overflow: scroll;
}
.bioP {
  padding: 1em;
}
#mainSectionTop {
  display: flex;
  justify-content: space-evenly;
}
.linksDiv {
  position: fixed;
  top: 250px;
  font-family: "Tangerine", cursive;
  font-size: 50px;
  font-weight: 200;
}
.linksDiv:hover {
  cursor: context-menu;
}
h4 {
  text-decoration: none;
}
.dropDown {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 2px 0;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
li > a {
  cursor: context-menu;
}
ul > li {
  padding: 5px 0;
}
.projectsLink {
  margin: -5px 0;
}
.interestsLink {
  margin: -5px 0;
}
#mainSectionBottom {
  height: 375px;
  display: flex;
  justify-content: center;
}
.interestsSection {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 80%;
  height: 362px;
  display: none;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  box-shadow: 5px 5px 8px black;
  max-width: 700px;
}
.interestsSection > h1 {
  margin: 10px 0 30px;
  text-shadow: 5px 5px 8px #000;
}
.carousel {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  align-content: center;
  height: 255px;
}
.images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.images img {
  max-height: 250px;
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 5px 5px 8px black;
  display: none;
}
.images img:first-of-type {
  display: block;
}
#EGG {
  width: 20px;
  height: 20px;
  position: relative;
  top: 300px;
  left: 11px;
}
a,
h4,
.projectsLink {
  color: rgba(31, 6, 217, 0.711);
  text-decoration: none;
}
a:hover,
.interestsLink:hover,
.projectsLink:hover {
  color: rgba(45, 175, 222, 0.711);
}

.fa-eye-low-vision:hover {
  filter: invert(50%);
}
.fa-sun:hover {
  filter: invert(100%);
}
.youWon {
  color: rgb(74, 74, 74);
  background-color: rgba(235, 235, 235, 0.6);
  -webkit-animation: glow 0.5s ease-in-out infinite alternate;
  -moz-animation: glow 0.5s ease-in-out infinite alternate;
  animation: glow 0.5s ease-in-out infinite alternate;
  align-self: center;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #531d6d,
      4px 4px 40px #531d6d, 4px 4px 50px #531d6d;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #531d6d,
      4px 4px 50px #531d6d;
  }
}

@media only screen and (max-width: 600px) {
  .bio {
    max-width: 400px;
    max-height: 600px;
    overflow: scroll;
    top: 1px;
  }
  .email {
    left: 70px;
  }
  img {
    max-width: 200px;
  }
}
