* {
  font-family: "Bona Nova", serif;
}

body {
  max-height: 100vh;
}
.body-width {
  width: 100px;
}
:root {
  --sld-blk: #000;
  --clr-blk: #00000000;
  --sld-wht: #fff;
  --sld-blue: #0000ff;
  --sld-red: #ff0000;
  --sld-lt-gry: #e0e0e0;
  --sld-gry: #9e9e9e;
  --sld-drk-gry: #4f4f4f;
  --sld-lt-blue: #2260af;
}
.vh {
  height: 98vh;
}
.no-list-style-type {
  list-style-type: none;
}
.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linkTag:hover {
  color: var(--sld-wht);
}
.plainLink:hover {
  color: var(--sld-red);
  transition: all 0.5s;
}
.button {
  width: fit-content;
  border-radius: 5px;
  margin: 5px auto;
  background-color: var(--sld-lt-gry);
}
.button:hover {
  background-color: var(--sld-blk);
  border-color: var(--sld-lt-gry);
  transition: 0.3s;
}
.fit-content {
  width: fit-content;
  margin: 0;
}
.fit-content-input {
  width: 200px;
  margin: 2px 2px;
}
.tenpx-spacing {
  margin: 10px 10px;
}
.fivepx-spacing {
  margin: 5px 10px;
}
.no-spacing {
  margin: 0;
}
.soft-corners {
  border-radius: 3px;
}
.no-text-decoration {
  text-decoration: none;
  color: var(--sld-blk);
}
.li-width {
  width: min-content;
}
.list-wrap {
  width: 140px;
}
.d-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr;
}
.lrg-width {
  width: 765px;
}
.mlrg-width {
  width: 650px;
}
.md-width {
  width: 500px;
}
.sm-width {
  width: 230px;
}
.thin-black-border {
  border: 2px solid var(--sld-blk);
}
.bc-lt-gry {
  background-color: var(--sld-lt-gry);
}
.box-shdw {
  box-shadow: 3px 3px 3px var(--sld-blk);
}
.sm-box-shdw {
  box-shadow: 1px 1px 1px var(--sld-blk);
}
.sm {
  width: 50px;
  object-fit: contain;
}
.lrg {
  width: 100px;
  object-fit: contain;
}
.xlg {
  width: 125px;
}
.no-padding {
  padding: 0;
}
.deckImg {
  height: 125px;
  width: 160px;
  object-fit: cover;
  border-radius: 3px;
  border: 2px solid var(--sld-blk);
  box-sizing: border-box;
  box-shadow: 2px 2px 2px var(--sld-drk-gry);
}
.deckImg:hover {
  opacity: 0.7;
  transition: 0.8s;
  border: none;
}
.margin-two {
  margin: 2px;
}
.required::after {
  content: "*";
  color: var(--sld-red);
}
.nonbutton-button {
  border: 2px solid var(--sld-blk);
  box-shadow: 1px 1px 1px var(--sld-blk);
  width: 32px;
  display: flex;
  justify-content: center;
  border-style: outset;
  border-color: var(--sld-blk);
  border-image: initial;
  font-size: small;
}
input {
  border: 1px solid var(--sld-blk);
  border-radius: 3px;
  margin: 1px auto;
  box-shadow: 1px 1px 2px var(--sld-blk);
}
.bannerImage {
  width: 100%;
  height: 300px;
  object-position: top;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, var(--sld-wht) 50%, transparent 90%);
  -webkit-mask-image: linear-gradient(
    to bottom,
    var(--sld-wht) 45%,
    transparent 95%
  );
  border-radius: 3px;
}
.bannerImageBottom {
  width: 100%;
  height: 100px;
  object-position: top;
  object-fit: cover;
  mask-image: linear-gradient(to top, var(--sld-wht) 25%, transparent 99%);
  -webkit-mask-image: linear-gradient(
    to top,
    var(--sld-wht) 25%,
    transparent 99%
  );
  border-radius: 3px;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
}
.bannerImageBottomVert {
  width: 100%;
  object-position: top;
  object-fit: cover;
  mask-image: linear-gradient(to top, var(--sld-wht) 25%, transparent 99%);
  -webkit-mask-image: linear-gradient(
    to top,
    var(--sld-wht) 25%,
    transparent 99%
  );
  border-radius: 3px;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
}
.art {
  opacity: 0.3;
  position: absolute;
  height: 100%;
  object-fit: cover;
}
.lrg-text {
  font-size: 50px;
}
.sm-text {
  font-size: 18px;
}
.text-shadow {
  text-shadow: 3px 3px 3px var(--sld-gry);
}
.bord-bottom {
  border-bottom: 2px solid var(--sld-blk);
}
.self-center {
  align-self: center;
}
.navigation {
  background-color: var(--sld-lt-blue);
  height: 50px;
  border: 2px solid var(--sld-blk);
  align-content: center;
  align-items: center;
}
.white {
  color: var(--sld-wht);
}

nav.navigation > ul > li > a:after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background-color: var(--sld-wht);
}
nav.navigation > ul > li > a:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--sld-wht);
  transition: 0.5s;
}
.sm-img {
  height: 40px;
  width: auto;
  border: 1px solid var(--sld-blk);
  border-radius: 3px;
}
.mg-top {
  margin-top: 3px;
}
.overlflow-y {
  overflow-y: scroll;
}

.wrapper {
  margin: auto;
  width: fit-content;
  height: auto;
  position: relative;
}
.footer {
  width: 125%;
}
.mgn-rt {
  margin-right: 10px;
}
.modal-ish {
  width: 100%;
  height: 700px;
  overflow-y: scroll;
  border: 1px solid var(--sld-blk);
  box-shadow: 6px 6px 6px var(--sld-blk);
  margin-bottom: 20px;
}
.relative {
  position: relative;
}
.rules {
  height: 500px;
  overflow-y: scroll;
}
.pln-bkgrnd {
  background-image: linear-gradient(to top, var(--sld-blk), var(--clr-blk));
}
.wh-bkgrnd {
  background-color: var(--sld-lt-blue);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--clr-ltgrey);
  box-shadow: inset 0 0 5px var(--sld-gry);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--sld-gry);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--drk-grey);
}
.underline:after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background-color: var(--sld-blue);
}
.underline:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--sld-red);
  transition: 0.5s;
}
a.hover,
.button:hover {
  cursor: pointer;
}
h4:after {
  content: "";
  width: 0;
  height: 2px;
  width: 100%;
  display: block;
  background-color: var(--sld-blk);
}
.cards:before,
.cards:after {
  content: "----";
}
.remove {
  color: var(--sld-red);
  text-decoration: none;
}
.d-flex-vert {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.req-asterisk:after {
  content: "'*' = required";
  color: var(--sld-red);
  display: block;
  position: absolute;
  right: 360px;
  font-size: 0.3em;
}
